@page "/admin/updateCategoryList/{id}"
@layout AdminLayout
@using Entities.Concrete;

@inject ICategoryService _categoryService;
@inject NavigationManager NavigatonManager;

<MudBreadcrumbs Items="_items"></MudBreadcrumbs>
<MudDivider Class="my-1" />
<br />
<MudGrid>
    <MudItem sm="6" md="4">
        <MudText Typo="Typo.h5">Kategori Bilgisi</MudText>
    </MudItem>
</MudGrid>
<br />
<MudContainer>
    <MudCard>
        <MudForm Model="@model" @ref="@form">
            <MudCardContent>
                <MudTextField @bind-Value="model.CategoryName"
                              Label="Kategori Ad" />
                <br />
                <MudText>Resim Yükleme</MudText>
                <MudImage Src="@(_userAvatar)" @onclick="DisplayAction" Height="100" Width="100" Elevation="25" Class="rounded my-2"></MudImage>
            </MudCardContent>
        </MudForm>
    </MudCard>
    <MudItem>
        <br />
        <div Class="d-flex justify-end">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class=" justify-end" OnClick="@(async () => await Submit())">Güncelle</MudButton>
        </div>
    </MudItem>

</MudContainer>

@code {
    [Parameter]
    public string id { get; set; }
    MudForm form;
    Category model = new();
    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("AnaSayfa", href: "#", icon: Icons.Material.Filled.Home),
            new BreadcrumbItem("Kategoriler", href: "/admin/categorylist", icon: Icons.Material.Filled.Category),
            new BreadcrumbItem("Kategori Düzenle", href: null, disabled: true, icon: Icons.Material.Filled.Create)
        };
    private string _imageBase64Data;
    private string _userAvatar;
    protected override async Task OnInitializedAsync()
    {
        int categoryId = Convert.ToInt32(id);
        model= await _categoryService.GetById(categoryId);
       _userAvatar= $"https://localhost:7018/{model.Image}";
    }
    private async Task Submit()
    {
        await form.Validate();
        if (form.IsValid)
        {
            if (!string.IsNullOrWhiteSpace(_imageBase64Data))
            {
                model.Image = _imageBase64Data;
            }
            await _categoryService.Update(model);
            NavigatonManager.NavigateTo("/admin/categorylist/", forceLoad: true);
        }
    }

    private async void DisplayAction()
    {
        var photo = await MediaPicker.Default.PickPhotoAsync();
        if (photo != null)
        {
            byte[] imageBytes;
            var newFile = Path.Combine(FileSystem.CacheDirectory, photo.FileName);
            var stream = await photo.OpenReadAsync();
            using (MemoryStream ms = new MemoryStream())
            {
                stream.CopyTo(ms);
                imageBytes = ms.ToArray();
            }
            _imageBase64Data = Convert.ToBase64String(imageBytes);
            _userAvatar = string.Format("data:image/png;base64,{0}", _imageBase64Data);
            this.StateHasChanged();
        }
    }
}
