@using Entities.Concrete;
@inherits LayoutComponentBase

@inject ICategoryService categoryService;
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<MudLayout>
    <AppBarPartial />
    <MudContainer xs="12">
        <MudCarousel Class="mud-width-full" Style="height:200px;" TData="object">
           @if (category !=null)
            {
                @foreach (var item in category)
                {
                    <MudCarouselItem Transition="transition">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="@($"https://localhost:7018/{@item.Image}")" Class="mx-auto my-auto" Height="200" Width="300"></MudImage>
                        </div>
                    </MudCarouselItem>
                }
            }
        </MudCarousel>
    </MudContainer>
    <NavMenuUser />
   <MudMainContent>
        <MudContainer xs="12">
            @Body
        </MudContainer>
   </MudMainContent>
</MudLayout>

@code {
    private Transition transition = Transition.Slide;
    List<Category> category;
    List<Category> categoryList;
    protected override async Task OnInitializedAsync()
    {
      category = await categoryService.GetAll();
    }
}